body {
    background-color: lightgrey;
}

h1 {
    color: darkslategrey;
    text-align: center;
    margin-top: 5rem;
}

div.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

input[type="radio"] {
    margin: 1rem;
}