{% extends "base.html" %}

{% block content %}
<div class="row">
    <h5>Before starting, please say your name and select one of the available quizzes</h5>
    {% if user.name %}
        <h4>Welcome, {{ user.name }}!</h4>
    {% else %}
        <p>What`s your name?</p>
        <form name="user" action="{{ url_for('start') }}" method="post">
            <input type="hidden" name="form-type" value="set-name">
            <input type="text" name="username" required>
            <input type="submit" value="Set my name">
        </form>
    {% endif %}

    {% if quiz %}
        <h4>Selected quiz: {{ quiz.title }}</h4>
    {% else %}
        <p>Select quiz</p>
        <form name="select-quiz" action="{{ url_for('start') }}" method="post">
            <input type="hidden" name="form-type" value="set-quiz">
            <select name="quiz">
                {% for quiz in quizzes %}
                    <option value="{{ quiz.id }}">{{ quiz.title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select Quiz">
        </form>
    {% endif %}

    {% if quiz and user %}
    <div class="button-container">
        <a class="button button-primary" href="{{ url_for('quiz') }}">Start Quiz</a>
    </div> 
    {% endif %}
</div>

{% endblock %}
